<div>
  <h5>Public chat</h5>
  <div *ngIf="isChatActive === false">
    <p>Join the chat as : </p>
    <form>
      <input type="text" [(ngModel)]="user.name" name="name">
      <button (click)="submit()">Submit</button>
    </form>
  </div>
  <ul *ngIf="isChatActive === true">
    <li *ngFor="let message of messages;"
        [ngClass]="{'highlighted align-left': user.name === message.user && message.type === 'new-message', 'align-right': user.name !== message.user && message.type==='new-message'}">
      <div *ngIf="message.type === 'user-connected'">
        <h4>A new user just connected</h4>
        <span>Online users in this chat : {{connectedUsersCounter}}</span>
      </div>

      <div *ngIf="message.type === 'new-message'">
        <span>User</span>
        <img class="avatar" src="assets/guest-xxl.png" alt="">
        <span>{{message.user}} says:</span>
        <span>{{message.text}}</span>
      </div>

      <div *ngIf="message.type === 'user-disconnected'">
        <span>A user just disconnected</span>
        <span>Online users in this chat : {{connectedUsersCounter}}</span>
      </div>
    </li>

    <input [(ngModel)]="message.text"  />
    <button (click)="sendMessage()">Send Message</button>
  </ul>
</div>
